///variables & colors ---------------------------------


$MD:(
        font:$Roboto,
        color:$MD-Color,
        opacity:$MD-Opacity,
        light-dark-opacity:$MD-Light-Dark-Opacity,
        icons:$MD-Icons,
        depth:$MD-Depth
);


